LULC-pngs.zip
playingAround.py
trainModel.py
trainModelIterable.py
pickled_miniTestDict
pickled_miniTrainDict
output.png
output
model_*
mine.txt
masks2
masks
PNGS
images
images2
screenshotTiles
LULC-pngs
pickled_dict
__pycache__/
.DS_Store
runs/
pickled_testDict
testDict

